#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.textSecondary {
  color: #888;
}

div.social{
  margin: 1rem;
  /* max-width: 60%;
  display: flex;
  flex-wrap: wrap; */
}

a.socialButton {
  margin: 0rem 0.5rem
}